name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  episode-example:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Pixi
      uses: prefix-dev/setup-pixi@v0.9.4
      with:
        run-install: false

    - name: Run Pixi intro episode
      if: ${{ matrix.os != 'windows-latest' }}
      shell: pixi run bash -ex {0}
      run: |
        pixi init example
        cd example
        ls -1ap
        cat pixi.toml
        pixi add python
        cat pixi.toml
        ls -1ap
        ls -1p .pixi/envs/
        pixi clean
        pixi install
        pixi list
        pixi add numpy notebook jupyterlab
        pixi task add lab "jupyter lab" --description "Launch Jupyterlab"
        pixi task list
        # pixi shell
        # exit
        pixi run python -c 'import numpy as np; print(np.__version__)'
        pixi workspace platform add linux-64 osx-arm64 win-64
        pixi add --feature dev pre-commit
        pixi workspace environment add --feature dev dev
        pixi upgrade --feature dev pre-commit
        pixi run --environment dev pre-commit --help
        cat pixi.toml

    - name: Run Pixi intro episode (Windows PowerShell)
      if: ${{ matrix.os == 'windows-latest' }}
      shell: pwsh
      run: |
        pixi init example
        cd example
        Get-ChildItem | Format-Wide -Column 1 -Property Name
        ls | fw -col 1
        cat pixi.toml
        pixi add python
        cat pixi.toml
        ls | fw -col 1
        ls .pixi/envs/ | fw -col 1
        pixi clean
        pixi install
        pixi list
        pixi add numpy notebook jupyterlab
        pixi task add lab "jupyter lab" --description "Launch Jupyterlab"
        pixi task list
        pixi run python -c 'import numpy as np; print(np.__version__)'
        pixi workspace platform add linux-64 osx-arm64 win-64
        pixi add --feature dev pre-commit
        pixi workspace environment add --feature dev dev
        pixi upgrade --feature dev pre-commit
        pixi run --environment dev pre-commit --help
        cat pixi.toml
